.calendar {
  max-width: 70ch;
  margin: 0 auto;
  margin-bottom: 30px;
}

.calendar .days {
  display: inline-block;
  width: 23px;
  height: 35px;
  text-align: center;
  color: transparent;
  box-shadow: 0 0.5px 0 0 #ddd, 0.5px 0 0 0 #ddd, 0 -0.5px 0 0 #ddd, -0.5px 0 0 0 #ddd;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: -4px;
}

.calendar .rest {
  background-image: url(/images/co.png);
  background-position: -8px -79px;
}

.calendar .books {
  background-image: url(/images/bo.png);
  background-position: -3px -2px;
}

.calendar .games {
  background-image: url(/images/bo.png);
  background-position: -35px -2px;
}

.calendar .travel {
  background-image: url(/images/t.png);
  background-position: -3px 3px;
}

.calendar .system {
  background-image: url(/images/pi.png);
  background-position: -103px -35px;
}

.calendar .manga {
  background-image: url(/images/pi.png);
  background-position: -1px 1px;
}

.calendar .coding {
  background-image: url(/images/c.png);
  background-position: -2px -1px;
}

.calendar .music {
  background-image: url(/images/m.png);
  background-position: 0;
}

.calendar .writing {
  background-image: url(/images/co.png);
  background-position: -5px -39px;
}

.calendar .days .tooltip {
  display: none;
}

.calendar .empty {
  background-color: #fafafa;
}

.tippy-box {
  background-color: #fdfcfb;
  border: 1px solid #eee;
  font-size: medium;
  color: #3a3a3a;
  padding: 15px;
}

.tippy-box h3 {
  margin: 0px;
}

.tippy-box ul {
  margin: -25px 30px !important;
}

.tippy-box a {
  color: #000;
}

.calendar>h3 {
  margin-bottom: 30px !important;
}
