.calendar .days {
  display: inline-block;
  width: 23px;
  height: 35px;
  text-align: center;
  color: transparent;
  box-shadow: 0 0.5px 0 0 #eee, 0.5px 0 0 0 #eee, 0 -0.5px 0 0 #eee, -0.5px 0 0 0 #eee;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: -4px;
}
.calendar .rest {
  background-image: url(../src/img/co.png);
  background-position: -8px -79px;
}
.calendar .books {
  background-image: url(../src/img/bo.png);
  background-position: -3px -2px;
}
.calendar .games {
  background-image: url(../src/img/bo.png);
  background-position: -35px -2px;
}
.calendar .travel {
  background-image: url(../src/img/t.png);
  background-position: -3px 3px;
}
.calendar .system {
  background-image: url(../src/img/pi.png);
  background-position: -103px -35px;
}
.calendar .manga {
  background-image: url(../src/img/c.png);
  background-position: -1px 1px;
}
.calendar .coding {
  background-image: url(../src/img/c.png);
  background-position: -1px -1px;
}
.calendar .music {
  background-image: url(../src/img/m.png);
  background-position: 0;
}
.calendar .writing {
  background-image: url(../src/img/co.png);
  background-position: -5px -39px;
}